@import url('./elementPlus.scss');
@import url('./common.scss');
/* 暗色主题 */
html.dark {
  --w-e-textarea-bg-color: #333;
  --w-e-textarea-color: #fff;
  /* ...其他... */
}

:root {
  --w-e-textarea-bg-color: '#000'
}
